<h2>{{ flagSignup ? 'Sign up' : 'Login' }}</h2>
<br>
<form>
    <div *ngIf="flagSignup" class="row"> 
      <div class="form-check-inline">
        <div class="col-md-8">
          <input id="Admin" class="form-check-input" type="radio" value="Admin" [(ngModel)]="check" name ="GroupButtons">
          <label for="checkAdmin" class="form-check-label"> Administrator</label>
        </div>
        <div class="col-md-8">
          <input id="Manag" class="form-check-input" type="radio" [(ngModel)]="check"  value="Manager" name ="GroupButtons" checked>
          <label for="checkManag" class="form-check-label"> Manager </label>
        </div>
      </div>  
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
            
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" />
            <div *ngIf="flagSignup">
            <label for="ControlSelect">Tavern</label>
            
            <select *ngIf="check==='Manager'" [(ngModel)] ="selected" class="form-control" id="ControlSelect" name="selected"> 
              <option [ngValue]="undefined" disabled>Select Any </option>
              <option *ngFor="let tavern of Taverns" 
              [ngValue]="tavern"> {{tavern.TavernName}} </option>
            </select>
            
            <input *ngIf="check=='Admin'" type="text" class="form-control" [(ngModel)]="Tavern.TavernName" name="TavernName" />
        </div>
      </div>
      </div>
    </div>
    <br>
  <div class="row">
    <div class="col-md-6">
      <button *ngIf='!flagSignup' type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button *ngIf='flagSignup' type="submit" class="btn btn-primary" (click)="signUp()">
        Sign Up
      </button>
      <button type="submit" class="btn btn-info float-right" (click)="toogleSignUp()">
        {{ flagSignup ? 'Cancel' : 'Sign up' }}
      </button>
    </div>
  </div>








</form>