<h2>{{ flagSignup ? 'Sign up' : 'Login' }}</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button *ngIf='!flagSignup' type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button *ngIf='flagSignup' type="submit" class="btn btn-primary" (click)="signUp()">
        Sign Up
      </button>
      <button type="submit" class="btn btn-info float-right" (click)="toogleSignUp()">
        {{ flagSignup ? 'Cancel' : 'Sign up' }}
      </button>
    </div>
  </div>
</form>