<h2>Welcome to {{tavernName}}</h2>
<br>
<div class="row form-group">
    <div class="col-md-8">
        <input class="form-control"id="search"
            (keyup)="search($event)"  [(ngModel)]="searchText" placeholder="Enter text to Search..."/>
    </div>
    <div *ngIf="isAdmin" class="col-md-2">
        <button class="btn btn-primary" routerLink="/modifyRoom/Add">
            Add Room
        </button>
    </div>
</div>
<br>
    <div class="row">
      <div class="col-md-8">           
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Room</th>
              <th>Daily Rate (US$)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of roomsTavern" [routerLink]="'/modifyRoom/'+room.ID">
              <td>{{room.RoomName}}</td>
              <td>{{room.DailyRate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  